<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shiznatix.mediacomrade.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.shiznatix.mediacomrade.android.ConnectionsActivity"
            android:label="@string/appName"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.shiznatix.mediacomrade.android.RemoteActivity"
            android:label="@string/remote"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.shiznatix.mediacomrade.android.BrowseActivity"
            android:label="@string/browse"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.shiznatix.mediacomrade.android.RandomSettingsActivity"
            android:label="@string/randomSettings"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
